<!-- <?xml version="1.0" encoding="UTF-8" standalone="yes"?> -->
<?xml version="1.0" encoding="UTF-8" ?>
<widget   xmlns="http://www.w3.org/ns/widgets"
          xmlns:cdv="http://cordova.apache.org/ns/1.0"
          xmlns:gap="http://phonegap.com/ns/1.0"
          id="com.swapp"
          version="0.0.3"
          versionCode="1">
  <name>Swapp</name>
  <description>
        Swap your unwanted items with people near you.
  </description>
  <author email="amir.hosseinirad@gmail.com" href="http://amir.pm/">
      Amir HR
  </author>

  <content src="index.html"/>
  <icon src="img/app_icon.png" />
  <access origin="*"/>

  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>

  <gap:plugin name="org.apache.cordova.device" />
  <gap:plugin name="org.apache.cordova.console" />
  <gap:plugin name="org.apache.cordova.inappbrowser" version="0.3.3" />
  <gap:plugin name="org.apache.cordova.geolocation" version="0.3.7" />
  <gap:plugin name="org.apache.cordova.network-information" version="0.2.7" />

  <gap:platform name="ios" />
  <gap:platform name="android" />

  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>